<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Lycan/IdeaProjects/Selenium Journey">
        <classes>
            <class name="org.practiceSelenium.tc01">
                <methods>
                    <include name="google"/>
                </methods>
            </class>
            <class name="org.practiceSelenium.tc02">
                <methods>
                    <include name="TryingEdgeOptions"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>